.form {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__column {
    margin-bottom: 30px;
    width: 33.33%;
    padding: 0 15px;

    &--2-3 {
      width: 66.67%;
    }
  }

  &__volume-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 22px;
    color: $white;
  }

  &__volume-percentage {
    font-weight: 600;
    color: rgba(255, 255, 255, 0.85);
  }

  &__file-upload-btn {
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    color: $sldark;

    &:hover {
      &::before {
        filter: brightness(100);
      }
    }

    &::before {
      content: '';
      position: relative;
      transition: .4s ease;
      display: inline-block;
      margin-right: 10px;
      width: 18px;
      height: 20px;
      background: url('../images/icon-blank.svg') center/contain no-repeat;
    }
  }

  &__file-upload-input {
    display: none;
  }

  &__btn {
    margin: 10px auto 0;
    width: 370px;
    height: 48px;
    font-weight: 600;
    font-size: 15px;
    line-height: 13px;
  }
}

@media (max-width: 991px) {
  .form {
    &__column {
      width: 50%;

      &--991 {
        width: 100%;
      }

      &--2-3 {
        width: 100%;
      }
    }
  }
}

@media (max-width: 575px) {
  .form {
    &__column {
      width: 100%;
    }

    &__btn {
      width: 100%;
    }
  }
}
