.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 35px;
  text-transform: uppercase;
  color: $text-secondary;

  &:visited {
    color: $text-secondary;
  }

  &:hover {
    transform: scale(1.05);
    color: $text-secondary;
  }
}

@media (max-width: 575px) {
  .logo-link {
    font-size: 22px;
    line-height: 26px;
  }
}