.main-screen {
  position: relative;
  margin-top: -101px;
  padding: 204px 0 202px;
  background: url("../images/main-screen-bg.png") center/cover no-repeat;

  &::before {
      content: none;
      position: absolute;
      inset: 0;
      background-color: rgba(255, 255, 255, 0.6);
    }

  &__wrapper {
    position: relative;
    max-width: 780px;
  }

  &__subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  &__list {
    margin: 0 0 80px;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    position: relative;
    margin-bottom: 5px;
    padding-left: 26px;
    font-size: 20px;
    line-height: 24px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 25px;
      height: 22px;
      background: url("../images/icon-hyphen.svg") center/contain no-repeat;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btns {
    display: flex;
    gap: 30px;
  }
}

@media (max-width: 991px) {
  .main-screen {
    background-position: right;

    &::before {
      content: '';
    }
  }
}

@media (max-width: 575px) {
  .main-screen {
    margin-top: -58px;
    padding: 154px 0 96px;

    &__list {
      margin-bottom: 32px;
    }

    &__btns {
      flex-direction: column;
      gap: 16px;
    }
  }
}
