.make-order {
  padding: 121px 0 151px;
  background: url("../images/make-order-bg.png") center/cover no-repeat;

  &__title {
    text-align: center;
    color: $text-secondary;
  }

  &__text {
    margin-bottom: 80px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: $text-muted;
  }
}

@media (max-width: 575px) {
  .make-order {
    padding: 96px 0;
  }
}
