.navigation {
  &__list {
    display: flex;
    gap: 3.125vw;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &--mobile {
      flex-direction: column;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: $text-secondary;

    &:visited {
      color: $text-secondary;
    }

    &--current {
      color: $text-accent;

      &:visited {
        color: $text-accent;
      }
    }
  }
}

@media (max-width: 767px) {
  .navigation {
    display: none;
  }
}
