.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1202px;
  width: 100%;
  padding: 0 15px;
}

.text-accent {
  color: $text-accent;
}

@media (max-width: 1219px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}