$text-primary: $dark;
$text-secondary: $white;
$text-muted: $gray;
$text-accent: $blue;

$color-link: $blue;
$color-link-visited: $blue;
$color-link-hover: $gray;
$color-link-active: $gray;

$color-button-border: $white;
$color-button-border-hover: $vdgray;
$color-button-background: $blue;
$color-button-background-hover: $white;
$color-button-text: $white;
$color-button-text-hover: $ldark;

$color-secondary-button-border: $vdgray;
$color-secondary-button-border-hover: $white;
$color-secondary-button-background: $white;
$color-secondary-button-background-hover: $blue;
$color-secondary-button-text: $ldark;
$color-secondary-button-text-hover: $white;