.site-footer {
  padding: 30px 0 30px;
  background-color: #3d4050;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 18px;
      background-color: #c3c3c3;
    }

    &::before {
      left: 29.33%;
    }

    &::after {
      left: 71.67%;
    }
  }
}

@media (max-width: 1199px) {
  .site-footer__wrapper {
    flex-direction: column;
    gap: 16px;

    &::before,
    &::after {
      content: none;
    }
  }
}
