.site-header {
  position: sticky;
  z-index: 99;
  top: 0;
  padding: 34px 0 32px;
  background-color: rgba(16, 16, 29, 0.9);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .site-header {
    padding: 24px 0;
  }
}

@media (max-width: 575px) {
  .site-header {
    padding: 16px 0;
  }
}
